<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="footer-left">
				<div class="footer-logo">
					<a href="#"> <img src="img/booklogo1.png" alt=""></a>
				</div>
				<ul>
					<li>Địa chỉ: 129/99 An Dương Vương, P. An Lạc, Q. Bình Tân,
						TP. Hồ Chí Minh</li>
					<li>Phone: +84 3 3456 9099</li>
					<li>Email: tinibook@gmail.com</li>
				</ul>
				<div class="footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
						class="fa fa-instagram"></i></a> <a href="#"><i
						class="fa fa-youtube"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 ">
			<div class="footer-widget">
				<h5>Dịch vụ</h5>
				<ul>
					<li><a href="#">Điều khoản sử dụng</a></li>
					<li><a href="#">Chính sách bảo mật</a></li>
					<li><a href="#">Giới thiệu TiniBook</a></li>
					<li><a href="#">Tuyển dụng</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="footer-widget">
				<h5>Hỗ trợ</h5>
				<ul>
					<li><a href="#">Phương thức vận chuyển</a></li>
					<li><a href="#">Chính sách khách sỉ</a></li>
					<li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
					<li><a href="#">Phương thức thanh toán</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="footer-widget">
				<h5>Tài khoản của tôi</h5>
				<ul>
					<li><a href="#">Đăng nhập/Tạo mới tài khoản</a></li>
					<li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
					<li><a href="#">Chi tiết tài khoản</a></li>
					<li><a href="#">Lịch sử mua hàng</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="copyright-reserved">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="copyright-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>
					All rights reserved | This template is made with <i
						class="fa fa-heart-o" aria-hidden="true"></i> by <a
						href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<!-- <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div> -->
			</div>
		</div>
	</div>
</div>