<header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service" th:if="${userInfo != ''}">
                        <i class=" fa fa-envelope"></i>
                        <span th:text="${userInfo}" id="userInfor"></span>
                    </div>
                </div>
                <div class="ht-right" th:if="${userInfo == ''}">
                    <a th:href="@{/login}" class="login-panel"><i class="fa fa-user"></i>Login</a>
                   
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-youtube"></i></a>
                    </div>
                </div>
                <div class="ht-right" th:unless="${userInfo == ''}">
                    <a th:href="@{/logout}" class="login-panel"><i class="fa fa-user"></i>Logout</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a th:href="@{/}">
                                <img th:src="@{/img/booklogo1.png}" alt="" >
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <form class="advanced-search" th:action="@{/shop/search}" method='GET'>
                            <button type="button" class="category-btn">Tìm kiếm sách</button>
                            <div class="input-group">
                                <input type="text" placeholder="Công nghệ..." name='textSearch' style="color:black">
                                <button type="submit"><i class="ti-search" id="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right" th:if="${userInfo != ''}">
                            <li class="cart-icon">
                                <a th:href="@{/shoppingcarts}">
                                    <i class="icon_bag_alt"></i>
                                    <span th:if="${not #lists.isEmpty(shoppingCarts)}">[[${#lists.size(shoppingCarts)}]]</span>
                                    <span th:if="${#lists.isEmpty(shoppingCarts)}" id="shoppingCartNumber">0</span>
                                </a>
                            </li>
                            <li class="cart-price">Giỏ hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span><a th:href="@{/shop}">Danh mục sản phẩm</a></span>
                        <ul class="depart-hover">
                            <li th:each="productType : ${productTypes}">
                            	<a th:href="@{/shop/__${productType.acronym}__}">
                            		<i class="fas fa-book"></i> <span th:text="${productType.name}"></span>
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Admin feature -->
                <div class="nav-depart" th:if="${admin == true}">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span><a href="#">Quản lí danh mục</a></span>
                        <ul class="depart-hover">
                            <li><a th:href="@{/admin/book}"><i class="fas fa-book"></i>Sách</a></li>
                            <li><a th:href="@{/admin/additional}"><i class="fas fa-book"></i>Tác giả - Nhà xuất bản</a></li>
                            <li><a th:href="@{/admin/bill}"><i class="fas fa-book"></i>Đơn hàng</a></li>
                            <li><a th:href="@{/admin/chart}"><i class="fas fa-book"></i>Doanh thu</a></li>
                            <li><a th:href="@{/admin/member}"><i class="fas fa-book"></i>Thành viên</a></li>
                        </ul>
                    </div>
                </div>
                
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    