<!DOCTYPE html>
<html lang="zxx">

<head>
	<th:block th:include="/_head"></th:block>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <th:block th:include="/_header"></th:block>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="img/sale1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Tác phẩm kinh điển</span>
                            <h1>Ông già và biển cả</h1>
                            <p>Ông già và biển cả, là một trong những tác phẩm nổi tiếng nhất của Hemingway, sử dụng nguyên lý “tảng băng trôi” khi kể về một cuộc săn đuổi con cá kiếm khổng lồ của ông lão đánh cá Santiago, 
                                người đã cố gắng chiến đấu trong ba ngày đêm vật lộn trên biển vùng Giếng Lớn khi ông câu được nó</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>20%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/sale2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Truyện ngắn</span>
                            <h1>Vui vẻ không quạu nha</h1>
                            <p>Cuộc đời ngày ngày nói yêu mình.
                                Xong cuộc đời lại đủ thứ phức tạp và bất công với mình.
                                Vậy là cuộc đời ghét mình rồi!
                                Thôi nào!
                                Thả lỏng và tận hưởng sự vui vẻ đi. Vì chẳng cuộ đời đang ghét bạn đâu, mà chính bạn đang loay hoay
                                 với những mệt nhọc ở trên đời.
                                    ,...</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/sale3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Nhân vật - Bài học kinh doanh</span>
                            <h2>Steve Jobs - Sức mạnh của sự khác biệt</h2>
                            <p>Những khác biệt của Steave Jobs: Học cao không chí chẳng ích gì “Muốn thành công phải dám thất bại chín lần” Máy tính sau này chẳng cao siêu gì hơn chiếc xe đạp Thà làm hải tặc còn hơn gia nhập hải quân Chỉ tuyển những người “đỉnh của đỉnh” 
                                Không có chi tiết nào dù nhỏ nhất là tầm thường Thành công đến từ những đểm tình cờ Độc đoán và đam mê tạo ra sự 
                                tuyệt hảo Kinh doanh không phải là chiều theo ý khách hàng Không chỉ đi trước, phải vượt xa thiên hạ Cái chết là động lực sáng tạo Không bao giờ dừng lại Không hài lòng cả những gì hòan hảo.</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>22%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner1.jpg" alt="">
                        <a th:href="@{/shop/__${productTypes[0].acronym}__}"></a>
                        <div class="inner-text">
                            <h4>Văn học</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner2.jpg" alt="">
                        <a th:href="@{/shop/__${productTypes[5].acronym}__}"></a>
                        <div class="inner-text">
                            <h4>Kĩ năng sống</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner3.jpg" alt="">
                        <a th:href="@{/shop/__${productTypes[1].acronym}__}"></a>
                        <div class="inner-text">
                            <h4>Truyện tranh</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/products/vanhoc-banner.jpg">
                        <h2>Văn học</h2>
                        <a th:href="@{/shop/__${productTypes[0].acronym}__}">Khám phá</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Tác phẩm kinh điển</li>
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img th:src="@{*{books[0].images[0].base64}}" alt="" style="height: 370px">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[0].id}__}">+ Chi tiết</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">[[${books[0].productType.name}]]</div>
                                <a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[0].id}__}">
                                    <h5>[[${books[0].productName}]]</h5>
                                </a>
                                <div class="product-price">
                                    [[(${books[0].price} - (${books[0].price}*${books[0].discount})/100) + 'VNĐ']]
                                    <span>[[${books[0].price} + 'VNĐ']]</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img th:src="@{*{books[1].images[0].base64}}" alt="" style="height: 370px">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[1].id}__}">+ Chi tiết</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">[[${books[1].productType.name}]]</div>
                                <a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[1].id}__}">
                                    <h5>[[${books[1].productName}]]</h5>
                                </a>
                                <div class="product-price">
                                    [[(${books[1].price} - (${books[1].price}*${books[1].discount})/100) + 'VNĐ']]
                                    <span>[[${books[1].price} + 'VNĐ']]</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img th:src="@{*{books[2].images[0].base64}}" alt="" style="height: 370px">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[2].id}__}">+ Chi tiết</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">[[${books[2].productType.name}]]</div>
                                <a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[2].id}__}">
                                    <h5>[[${books[2].productName}]]</h5>
                                </a>
                                <div class="product-price">
                                    [[(${books[2].price} - (${books[2].price}*${books[2].discount})/100) + 'VNĐ']]
                                    <span>[[${books[2].price} + 'VNĐ']]</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img th:src="@{*{books[3].images[0].base64}}" alt="" style="height: 370px">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[3].id}__}">+ Chi tiết</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">[[${books[3].productType.name}]]</div>
                                <a th:href="@{__${#httpServletRequest.requestURI}__/product/__${books[3].id}__}">
                                    <h5>[[${books[3].productName}]]</h5>
                                </a>
                                <div class="product-price">
                                    [[(${books[3].price} - (${books[3].price}*${books[3].discount})/100) + 'VNĐ']]
                                    <span>[[${books[3].price} + 'VNĐ']]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="img/timeherry.jpg">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Sau cả trăm năm gián đoạn, cuộc thi đấu Tam Pháp Thuật lần đầu tiên được tổ chức trở lại. Học viện pháp thuật và ma thuật Hogwarts đón chào đại diện hai trường phù thủy khác. 
                        Chiếc cốc lửa chọn ra đại diện các trường, và bất ngờ thay, có cả tên Harry Potter. 
                        Trong năm học này, cậu không chỉ phải đối mặt với những thử thách trong cuộc thi, mà cả với một âm mưu đen tối đang dần hình thành. </p>
                    <div class="product-price">
                        882,000 VNĐ
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Ngày</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Giờ</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Phút</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Giây</p>
                    </div>
                </div>
                <a href="#" class="primary-btn">Mua Ngay</a>
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <!-- <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Clothings</li>
                            <li>HandBag</li>
                            <li>Shoes</li>
                            <li>Accessories</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="img/products/man-1.jpg" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="#">
                                    <h5>Pure Pineapple</h5>
                                </a>
                                <div class="product-price">
                                    $14.00
                                    <span>$35.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="img/products/man-2.jpg" alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Shoes</div>
                                <a href="#">
                                    <h5>Guangzhou sweater</h5>
                                </a>
                                <div class="product-price">
                                    $13.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="img/products/man-3.jpg" alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Towel</div>
                                <a href="#">
                                    <h5>Pure Pineapple</h5>
                                </a>
                                <div class="product-price">
                                    $34.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="img/products/man-4.jpg" alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Towel</div>
                                <a href="#">
                                    <h5>Converse Shoes</h5>
                                </a>
                                <div class="product-price">
                                    $34.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="img/products/man-large.jpg">
                        <h2>Men’s</h2>
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <!-- <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="img/insta-1.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-2.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-3.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
    </div> -->
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Tin tức</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="img/last1.jpg" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    Thứ Năm, 30-4-2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>Top 7 quyển sách nâng cao sức khỏe trong mùa dịch Covid-19</h4>
                            </a>
                            <p>Chúng ta hãy cùng điểm qua 7 quyển sách nâng cao sức khỏe trong mùa dịch Covid-19 này để hiểu đủ về cơ chế tự phòng và 
                                chữa bệnh của cơ thể con người và chủ động phòng tránh bệnh dịch </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="img/last2.jpg" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    Thứ Hai, 27-04-2020
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    10
                                </div>
                            </div>
                            <a href="#">
                                <h4>12 quyển sách nuôi dạy con hay nhất bạn nên đọc</h4>
                            </a>
                            <p>Nuôi dạy con trẻ đúng cách luôn là mối bận tâm hàng đầu của các bậc cha mẹ. Thế nhưng đó lại luôn là hành trình gian nan và đòi hỏi sự kiên trì nhẫn nại và không ngừng học hỏi,
                                 trang bị thêm nhiều kiến thức của cha mẹ để giúp trẻ phát triển tốt cả về tư duy lẫn nhân cách.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="img/last3.jpg" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    Thứ Bảy, 25-04-2020
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    9
                                </div>
                            </div>
                            <a href="#">
                                <h4>Review sách: Tuổi Trẻ Đáng Giá Bao Nhiêu?</h4>
                            </a>
                            <p>Thanh xuân trong ký ức của mỗi người có thể mỗi khác, còn qua góc nhìn của Rosie Nguyễn là những trải nghiệm, phong cách và thái độ đáng trân trọng của cô đối với cuộc sống. 
                                Chúng ta hãy cùng review một chút về “Tuổi Trẻ Đáng Giá Bao Nhiêu?” 
                                để biết liệu cuốn sách này có thực sự hay và ý nghĩa như nhiều người vẫn ca ngợi không nhé!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>Với đơn hàng trên 100,000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Hỗ trợ 24/24</h6>
                                <p>Liên hệ ngay nếu bạn có thắc mắc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Giao hàng nhanh chóng</h6>
                                <p>An toàn và nhanh chóng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Partner Logo Section Begin -->
    <!-- <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <th:block th:include="/_footer"></th:block>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <th:block th:include="/_jsplugin"></th:block>
</body>

</html>