<!DOCTYPE html>
<html lang="zxx">

<head>
    <th:block th:include="/_head"></th:block>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<th:block th:include="/_header"></th:block>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Thành viên</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="#" class="checkout-form">
                <div class="row">   
                        <h4>Danh sách thành viên</h4>
                    <div class="col-lg-12">
                        <div class="">
							<div th:if="${successMessage}"
								class="alert alert-success alert-dismissible fade show" role="alert">
								<span th:text="${successMessage}"></span>
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div th:if="${errorMessage}"
								class="alert alert-danger alert-dismissible fade show" role="alert">
								<span th:text="${successMessage}"></span>
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tài khoản</th>
                                        <th>Tên</th>
                                        <th>Giới tính</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Địa chỉ</th>
                                        <th>Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user: ${users}">
                                        <td th:text="${user.getAccount().getUserName()}" class=""></td>
                                        <td class="">
                                            <h5 th:text="${user.getFullName()}"></h5>
                                        </td>
                                        <td th:if="${user.isSex()}" th:text="Nam" class=""></td>
                                        <td th:unless="${user.isSex()}" th:text="Nữ" class=""></td>
                                        <td class="">
                                            <h5 th:text="${user.getPhoneNumber()}"></h5>
                                        </td>
                                        <td class="">
                                            <h5 th:text="${user.getEmail()}"></h5>
                                        </td>
                                        <td class="">
                                            <h5 th:text="${user.getAddress()}"></h5>
                                        </td>
                                       
                                        <td class="">
                                   
                                        	<div data-th-id="${user.getAccount().getId()}"></div>
                                            <a th:attr="data-id=${user.getAccount().getId()},data-email=${user.getAccount().getUserName()}" th:if="${!user.getAccount().isEnabled()}" class="btn btn-danger unblock-user" data-toggle="modal"
                                                href="#unlockAccount"
                                                style="margin-left: 30px; width: 25px; height: 25px; padding: 1px">
                                                <i class="fa fa-lock"></i>
                                            </a>
                                             <a th:attr="data-id=${user.getAccount().getId()},data-email=${user.getAccount().getUserName()}" th:if="${user.getAccount().isEnabled()}" class="btn btn-success block-user" data-toggle="modal"
                                                href="#lockAccount"
                                                style="margin-left: 30px; width: 25px; height: 25px; padding: 1px">
                                                <i class="fa fa-unlock"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--The Modal Lock Account -->
                    <div class="modal fade" id="lockAccount">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Khoá tài khoản</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <span>Bạn có muốn khoá tài khoản <b class="block-email">acb@gmail.com</b> không?</span>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                        <a href="#" class="btn btn-success block-accept" data-dismiss="modal">Có</a>
                                        <button class="btn btn-danger" data-dismiss="modal">Không</button>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                     <!--The Modal Unlock Account -->
                     <div class="modal fade" id="unlockAccount">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Mở khoá tài khoản</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <span>Bạn có muốn mở khoá tài khoản <b class="unblock-email">acb@gmail.com</b> không?</span>
                                    </div>
    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                            <a href="#" class="btn btn-success unblock-accept" data-dismiss="modal">Có</a>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                                        </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->

                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->

    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
		<th:block th:include="/_footer"></th:block>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<th:block th:include="/_jsplugin"></th:block>
	<script type="text/javascript">
		$(function() {
			$('.block-user').click(function(e) {
				e.preventDefault();
				
				let accountId = $(this).data("id");
				let username = $(this).data("email");
				
				let url = `/admin/users/accounts/${accountId}/block`;
				
				$('.block-accept').attr('href', url);
				$('.block-email').html(username);
				
			});
			
			$('.block-accept').click(function(e) {
				window.open($(this).attr('href'), '_self');
			});
			
			$('.unblock-user').click(function(e) {
				e.preventDefault();
				
				let accountId = $(this).data("id");
				let username = $(this).data("email");
				
				let url = `/admin/users/accounts/${accountId}/unblock`;
				
				$('.unblock-accept').attr('href', url);
				$('.unblock-email').html(username);
			});
			
			$('.unblock-accept').click(function(e) {
				window.open($(this).attr('href'), '_self');
			});
		})
	</script>
	
</body>

</html>