<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Update Stationery Page</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h1>Update Stationery</h1>
       
      <!-- /login?error=true -->
      <div th:if="${#request.getParameter('error') == 'true'}"
            style="color:red;margin:10px 0px;">
         Login Failed!!!<br />
         Reason :
         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
            
      </div>
      
      <h3>Update Stationery</h3>
      <form th:object="${stationeryForm}" th:action="@{/admin/updateStationery}" method='POST'>
         <table>
            <tr>
               <td>Book id:</td>
               <td><span th:text="*{id}"></span></td>
                <td><input type='hidden' name='id' th:field="*{id}"></td>
            </tr>    
            <tr>
               <td>Book name:</td>
               <td><input type='text' name='name' value='' th:field="*{productName}"></td>
            </tr>
            <tr>
               <td>Description:</td>
               <td><input type='text' name='description' th:field="*{description}"/></td>
            </tr>
            <tr>
               <td>Size</td>
               <td><input type='text' name='size' th:field="*{size}"/></td>
            </tr>
            <tr>
               <td>Product Type</td>
               <td><input type='number' name='productType' th:field="*{productType}"/></td>
            </tr>
            <tr>
               <td>Price</td>
               <td><input type='number' name='price' th:field="*{price}"/></td>
            </tr>
            <tr>
               <td>Discount</td>
               <td><input type='number' name='discount' th:field="*{discount}"/></td>
            </tr>
            <tr>
               <td>Amount</td>
               <td><input type='number' name='amount' th:field="*{amount}"/></td>
            </tr>
            <tr>
               <td>Status</td>
               <td><input type="checkbox" name="status" th:field="*{status}"/></td>
            </tr>  
            <tr>
               <td>Made In</td>
               <td><input type='text' name='madeIn' th:field="*{madeIn}"/></td>
            </tr>
            <tr>
               <td>Parameter</td>
               <td><input type='text' name='parameter' th:field="*{parameter}"/></td>
            </tr>
            <tr>
               <td>Brand</td>
               <td><input type='number' name='brand' th:field="*{brand}"/></td>
            </tr>
            <tr th:unless="*{#lists.isEmpty(base64Images)}">
               <td>Image</td>
               <td><img th:src="@{|data:image/*;base64,*{base64Images[0]}|}"/></td>
            </tr>
            <tr> 
               <td>Update Image:</td>
               <td><input type='file' name='imageFiles' value='' th:field="*{imageFiles}"  multiple accept="image/png, image/jpeg"/></td>
            </tr>     
            <tr>
               <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
         </table>
      </form>
       
   </body>
    
</html>